<a href="https://colab.research.google.com/github/dlwodbeld/ai/blob/main/Day2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
s = 'world'
print(s[2]) #파이선은 인덱스 시작이 0이다.
print(s[-1]) #-1은 마지막 인덱스를 가리킨다.
print(s[4])

r
d
d

In [2]:
list = [1,2,3,4,5]
print(list)
print(list[1])
print(list[1:3])
list[3] = 30
print(list)

[1, 2, 3, 4, 5]
2
[2, 3]
[1, 2, 3, 30, 5]

In [3]:
list1 = [1,2,3,4,5,6,7,8,9]
list2 = [10,20,30]
list_a = list1
list_b = list2
print(list_a,list_b)
print(list_a+list_b)
#연산
print(list_a*2)
print(list_a[2]*list_b[1])
#.insert()/.extend()
list1.insert(0,90)
list1.extend([8,9])
print(list1)
#del()
del list1[2] #list1에서 3번째꺼 제거
print(list1)
del list1[4:6]#4번부터 6번 미만까지
print(list1)
del list2[:]#생략하면 처음 : 생략하면 끝
#.pop()
list1.pop()
print(list1)
#.remove() 값으로 삭제
list1.remove(8)
print(list1)
list1.remove(8)
print(list1)
#.clear() 리스트 요소를 전부 한번에 삭제
list1.clear()
list1.extend([1000])
print(list1)
#in / not in  리스트에 존재하는 요소인지를 확인
print(1000 in list1)
print(300 in list1)
print(300 not in list1)
print(1000 not in list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9] [10, 20, 30]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 20, 30]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9]
60
[90, 1, 2, 3, 4, 5, 6, 7, 8, 9, 8, 9]
[90, 1, 3, 4, 5, 6, 7, 8, 9, 8, 9]
[90, 1, 3, 4, 7, 8, 9, 8, 9]
[90, 1, 3, 4, 7, 8, 9, 8]
[90, 1, 3, 4, 7, 9, 8]
[90, 1, 3, 4, 7, 9]
[1000]
True
False
True
False

In [4]:
dict = {
    "name" : "엔드 게임",
    "no" : 1,
    "tpye" : "히어로 무비",
    "price" : 10000
}
print(dict)
print(dict['name'])

{'name': '엔드 게임', 'no': 1, 'tpye': '히어로 무비', 'price': 10000}
엔드 게임

In [5]:
dict ={
    "감독" :["안소니","루소"],
    "배우":["타노스","토르","토니 스타크"]
}
print(dict["감독"])

['안소니', '루소']

In [6]:
dict = {
    'name' : '건조 망고',
    'type' : '절임 과일',
    'ingredient' : ['망고','설탕','색소'],
    'origin':'필리핀'
}
print('name: ',dict['name'])
print('type: ',dict['type'])
print('ingredient: ',dict['ingredient'])
print('origin: ',dict['origin'])
#변경
dict['name'] = '망고'
print('name:' , dict['name'])

print(dict['ingredient'][0])
#추가
dict['price'] = 5000
print(dict)
#수정(있는경우에만)
dict['price'] = 4000
print(dict)
#삭제
del dict['price']
print(dict)

name:  건조 망고
type:  절임 과일
ingredient:  ['망고', '설탕', '색소']
origin:  필리핀
name: 망고
망고
{'name': '망고', 'type': '절임 과일', 'ingredient': ['망고', '설탕', '색소'], 'origin': '필리핀', 'price': 5000}
{'name': '망고', 'type': '절임 과일', 'ingredient': ['망고', '설탕', '색소'], 'origin': '필리핀', 'price': 4000}
{'name': '망고', 'type': '절임 과일', 'ingredient': ['망고', '설탕', '색소'], 'origin': '필리핀'}

In [7]:
dict = {}

dict['name'] = '새이름'
dict['height'] = 185
dict['weight'] = 75

print(dict)
#삭제
del dict['weight']
print(dict)

{'name': '새이름', 'height': 185, 'weight': 75}
{'name': '새이름', 'height': 185}

In [8]:
#dict 자주 등장하는 에러(예외)

dict = {
    'name' : '건조 망고',
    'type' : '절임 과일',
    'ingredient' : ['망고','설탕','색소'],
    'origin':'필리핀'
}

#del dict['nane'] #존재하지 않는 키값을 제거하려고하니 에러가 뜬다.

In [9]:
dict = {
    'name' : '건조 망고',
    'type' : '절임 과일',
    'ingredient' : ['망고','설탕','색소'],
    'origin':'필리핀'
}

key = input('>삭제를 원하는 데이터의 키값을 입렵하세요 : ')

if key in dict:
  print(dict)
  print(dict[key],"삭제")
  del dict[key]
  print(dict)
else:
  print('존재하지 않는 키에 접근하고 있습니다.')
print(dict)

>삭제를 원하는 데이터의 키값을 입렵하세요 : name
{'name': '건조 망고', 'type': '절임 과일', 'ingredient': ['망고', '설탕', '색소'], 'origin': '필리핀'}
건조 망고 삭제
{'type': '절임 과일', 'ingredient': ['망고', '설탕', '색소'], 'origin': '필리핀'}
{'type': '절임 과일', 'ingredient': ['망고', '설탕', '색소'], 'origin': '필리핀'}

In [10]:
#튜플 (1,)인 이유/()생략 가능
t = (1,2)
print(t)
print(type(t))
t2 = 3,4
print(t2)
print(type(t2))

t3 = (5) # (5) == 5 가 되므로 정수로 인식하여 int로 된다.
t4 = 5
t6 = (6,)
t7 = 7,
print(t3)
print(type(t3))
print(t4)
print(type(t4))
print(t6)
print(type(t6))
print(t7)
print(type(t7))

(1, 2)
<class 'tuple'>
(3, 4)
<class 'tuple'>
5
<class 'int'>
5
<class 'int'>
(6,)
<class 'tuple'>
(7,)
<class 'tuple'>

In [11]:
# 파괴적  동작은 불가능
t = (1,2,3,4,5)
print(t)
print(type(t))
#t[0] = 8 튜플은 수정 불가
#del t[0] 튜플은 삭제불가

(1, 2, 3, 4, 5)
<class 'tuple'>

In [12]:
# 비파괴적 동작은 가능
t = (1,2,3,4,5)
print(t[1])
print(t[3:])

2
(4, 5)

In [13]:
#비파괴적 연산은 가능하다.
t1 = (1,2,3,4,5)
t2 = (6,7,8,9)
print(t1)
print(t2)
print(t1+t2)

print(type(t1),type(t2))
print(t1*3)
print(t1)

(1, 2, 3, 4, 5)
(6, 7, 8, 9)
(1, 2, 3, 4, 5, 6, 7, 8, 9)
<class 'tuple'> <class 'tuple'>
(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)
(1, 2, 3, 4, 5)

In [14]:
#Set 집합
set = {1,1,2,2,3,4}
print(set) #중복을 허용하지 않는다.
print(type(set))
#s1 = list(set)
#print(s1[0])
#print(type(s1))

{1, 2, 3, 4}
<class 'set'>

In [15]:
s1 = set([1,1,1,2,2,3])
print(type(s1))
print(s1)

li = list(s1)
print(type(li))
print(li)
li[0]

TypeError: ignored