<a href="https://colab.research.google.com/github/dlwodbeld/ai/blob/main/Day2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
s = 'world'
print(s[2]) #파이선은 인덱스 시작이 0이다.
print(s[-1]) #-1은 마지막 인덱스를 가리킨다.
print(s[4])

r
d
d

In [3]:
list = [1,2,3,4,5]
print(list)
print(list[1])
print(list[1:3])
list[3] = 30
print(list)

[1, 2, 3, 4, 5]
2
[2, 3]
[1, 2, 3, 30, 5]

In [4]:
list1 = [1,2,3,4,5,6,7,8,9]
list2 = [10,20,30]
list_a = list1
list_b = list2
print(list_a,list_b)
print(list_a+list_b)
#연산
print(list_a*2)
print(list_a[2]*list_b[1])
#.insert()/.extend()
list1.insert(0,90)
list1.extend([8,9])
print(list1)
#del()
del list1[2] #list1에서 3번째꺼 제거
print(list1)
del list1[4:6]#4번부터 6번 미만까지
print(list1)
del list2[:]#생략하면 처음 : 생략하면 끝
#.pop()
list1.pop()
print(list1)
#.remove() 값으로 삭제
list1.remove(8)
print(list1)
list1.remove(8)
print(list1)
#.clear() 리스트 요소를 전부 한번에 삭제
list1.clear()
list1.extend([1000])
print(list1)
#in / not in  리스트에 존재하는 요소인지를 확인
print(1000 in list1)
print(300 in list1)
print(300 not in list1)
print(1000 not in list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9] [10, 20, 30]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 20, 30]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9]
60
[90, 1, 2, 3, 4, 5, 6, 7, 8, 9, 8, 9]
[90, 1, 3, 4, 5, 6, 7, 8, 9, 8, 9]
[90, 1, 3, 4, 7, 8, 9, 8, 9]
[90, 1, 3, 4, 7, 8, 9, 8]
[90, 1, 3, 4, 7, 9, 8]
[90, 1, 3, 4, 7, 9]
[1000]
True
False
True
False

In [5]:
dict = {
    "name" : "엔드 게임",
    "no" : 1,
    "tpye" : "히어로 무비",
    "price" : 10000
}
print(dict)
print(dict['name'])

{'name': '엔드 게임', 'no': 1, 'tpye': '히어로 무비', 'price': 10000}
엔드 게임

In [6]:
dict ={
    "감독" :["안소니","루소"],
    "배우":["타노스","토르","토니 스타크"]
}
print(dict["감독"])

['안소니', '루소']

In [7]:
dict = {
    'name' : '건조 망고',
    'type' : '절임 과일',
    'ingredient' : ['망고','설탕','색소'],
    'origin':'필리핀'
}
print('name: ',dict['name'])
print('type: ',dict['type'])
print('ingredient: ',dict['ingredient'])
print('origin: ',dict['origin'])
#변경
dict['name'] = '망고'
print('name:' , dict['name'])

print(dict['ingredient'][0])
#추가
dict['price'] = 5000
print(dict)
#수정(있는경우에만)
dict['price'] = 4000
print(dict)
#삭제
del dict['price']
print(dict)

name:  건조 망고
type:  절임 과일
ingredient:  ['망고', '설탕', '색소']
origin:  필리핀
name: 망고
망고
{'name': '망고', 'type': '절임 과일', 'ingredient': ['망고', '설탕', '색소'], 'origin': '필리핀', 'price': 5000}
{'name': '망고', 'type': '절임 과일', 'ingredient': ['망고', '설탕', '색소'], 'origin': '필리핀', 'price': 4000}
{'name': '망고', 'type': '절임 과일', 'ingredient': ['망고', '설탕', '색소'], 'origin': '필리핀'}

In [8]:
dict = {}

dict['name'] = '새이름'
dict['height'] = 185
dict['weight'] = 75

print(dict)
#삭제
del dict['weight']
print(dict)

{'name': '새이름', 'height': 185, 'weight': 75}
{'name': '새이름', 'height': 185}

In [9]:
#dict 자주 등장하는 에러(예외)

dict = {
    'name' : '건조 망고',
    'type' : '절임 과일',
    'ingredient' : ['망고','설탕','색소'],
    'origin':'필리핀'
}

del dict['nane'] #존재하지 않는 키값을 제거하려고하니 에러가 뜬다.

In [10]:
dict = {
    'name' : '건조 망고',
    'type' : '절임 과일',
    'ingredient' : ['망고','설탕','색소'],
    'origin':'필리핀'
}

key = input('>삭제를 원하는 데이터의 키값을 입렵하세요 : ')

if key in dict:
  print(dict)
  print(dict[key],"삭제")
  del dict[key]
  print(dict)
else:
  print('존재하지 않는 키에 접근하고 있습니다.')
print(dict)

>삭제를 원하는 데이터의 키값을 입렵하세요 : name
{'name': '건조 망고', 'type': '절임 과일', 'ingredient': ['망고', '설탕', '색소'], 'origin': '필리핀'}
건조 망고 삭제
{'type': '절임 과일', 'ingredient': ['망고', '설탕', '색소'], 'origin': '필리핀'}
{'type': '절임 과일', 'ingredient': ['망고', '설탕', '색소'], 'origin': '필리핀'}

In [11]:
#튜플 (1,)인 이유/()생략 가능
t = (1,2)
print(t)
print(type(t))
t2 = 3,4
print(t2)
print(type(t2))

t3 = (5) # (5) == 5 가 되므로 정수로 인식하여 int로 된다.
t4 = 5
t6 = (6,)
t7 = 7,
print(t3)
print(type(t3))
print(t4)
print(type(t4))
print(t6)
print(type(t6))
print(t7)
print(type(t7))

(1, 2)
<class 'tuple'>
(3, 4)
<class 'tuple'>
5
<class 'int'>
5
<class 'int'>
(6,)
<class 'tuple'>
(7,)
<class 'tuple'>

In [12]:
# 파괴적  동작은 불가능
t = (1,2,3,4,5)
print(t)
print(type(t))
#t[0] = 8 튜플은 수정 불가
#del t[0] 튜플은 삭제불가

(1, 2, 3, 4, 5)
<class 'tuple'>

In [13]:
# 비파괴적 동작은 가능
t = (1,2,3,4,5)
print(t[1])
print(t[3:])

2
(4, 5)

In [14]:
#비파괴적 연산은 가능하다.
t1 = (1,2,3,4,5)
t2 = (6,7,8,9)
print(t1)
print(t2)
print(t1+t2)

print(type(t1),type(t2))
print(t1*3)
print(t1)

(1, 2, 3, 4, 5)
(6, 7, 8, 9)
(1, 2, 3, 4, 5, 6, 7, 8, 9)
<class 'tuple'> <class 'tuple'>
(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)
(1, 2, 3, 4, 5)

In [15]:
#Set 집합
set = {1,1,2,2,3,4}
print(set) #중복을 허용하지 않는다.
print(type(set))
#s1 = list(set)
#print(s1[0])
#print(type(s1))

{1, 2, 3, 4}
<class 'set'>

In [1]:
s1 = set([1,1,1,2,2,3])
print(type(s1))
print(s1)

li = list(s1)
print(type(li))
print(li)
li[0]

<class 'set'>
{1, 2, 3}
<class 'list'>
[1, 2, 3]

1

In [23]:
#집합 계산

set1 = {1,2,3}
set2 = {2,3,4}

print(type(set1))
print(type(set2))
#양쪽 집합에 모두 공통적으로 포함되는 원소 -> 교집합
print(set1 & set2)
print(set1.intersection(set2))
#양쪽 집합의 모든 원소(중복제외) ->합집합
print(set1 | set2)
print(set1.union(set2))
#두개 집합의 차 - 차집합
print(set1 - set2)
print(set1.difference(set2))
print(set2 - set1)
print(set2.difference(set1))

<class 'set'>
<class 'set'>
{2, 3}
{2, 3}
{1, 2, 3, 4}
{1, 2, 3, 4}
{1}
{1}
{4}
{4}

In [26]:
#집합은 삽입 가능

set1 = {1,2,3}
print(set1)
print(type(set1))
set1.add(4)
print(set1)

set1.update([5,6,7,8])
print(set1)
print(type(set1))

#집합은 삭제가 가능하다.
#집합은 인덱스 개념이 존재하지않는다. 따라거 값을 지정하여 직접 삭제한다.
set1.remove(4) # value(값) 를(을) 삭제.
print(set1)

{1, 2, 3}
<class 'set'>
{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6, 7, 8}
<class 'set'>
{1, 2, 3, 5, 6, 7, 8}

In [32]:
#Q1. 입력) 학번을 입력하세요 ex>31025 -> 3학년 10반 25번

sn = input('>학번을 입력하세요 : ')

print(f'{sn[0]}학년 {sn[1:3]}반 {sn[3:]}번')

>학번을 입력하세요 : 32014
3학년 20반 14번

In [35]:
#Q2. 입력) 차량번호를 입력하세요.

car = input('>차량번호를 입력하세요 : ')

print(f'{car}의 차량번호 끝은 {car[-4:]}입니다.')

>차량번호를 입력하세요 : ㅇ랴2ㄱ3411
ㅇ랴2ㄱ3411의 차량번호 끝은 3411입니다.

In [48]:
#Q3. 인덱싱과 슬라이싱을 사용하지 않고 name = 'austin' 가운데 글자를 추출하는 프로그램을 구현하시오.

ctx = input('>글자를 입력하세요. : ')
a = len(ctx)
if int(a%2==1):
  print(f'{ctx}의 글자의 갯수는 {a}개 입니다.')
elif int(a%2==0):
    print(f'{ctx}의 글자의 갯수가 {a}개여서 홀수가 아닙니다. ')

>글자를 입력하세요. : ㅁㄴ아
ㅁㄴ아의 글자의 갯수는 3개 입니다.

In [60]:
# [1,2,3,4,5,6,7,8,9] 의 3번쨰 요소부터  7번쨰 요소만 추출한 결과에서 2번쨰 요소를 출력하는 프로그램을 구현

num = [1,2,3,4,5,6,7,8,9]
a = num[2:7]
print(f'{a}에서 2번째 요소는 {a[1]} 입니다.')

[3, 4, 5, 6, 7]에서 2번째 요소는 4 입니다.

In [ ]:
if True:
  print('만족')
else:
  print('불만족')

In [59]:
age = int(input('나이를 입력하세요>>'))

if age >= 20:
  print(f'나이가 {age}인 당신은 성인입니다.')
elif age <=12:
  print(f'나이가{age}인 당신은 유년기입니다.')
else :
  print(f'나이가 {age}인 당신은 청소년입니다.')

나이를 입력하세요>>34
나이가 34인 당신은 성인입니다.

In [64]:
#입력) 당신의 점수를 입력하세요>>>95
#출력) 당신의 점수는 95점이고 학점은 A 입니다.

sc = int(input('당신의 점수를 입력하세요 : '))
gr = ""
if sc >90:
  gr = "A"
elif sc >=80:
  gr = "B"
elif sc >=70:
  gr = "C"
elif sc >=60:
  gr = "D"
else :
  gr = "F"
print(f'당신의 점수는 {sc}이고 학점은 {gr} 입니다.')

당신의 점수를 입력하세요 : 55
당신의 점수는 55이고 학점은 F 입니다.

In [ ]:
#임의의 정수를 입력받아서 그 수가 3의 배수인지를 확이하는 프로그램을 작성하세요.

num = int(input('정수를 입력하세요 : '))
w = ""
if num%3 !=0:
  w = "가 아닙니다."
else :
  w = "입니다."
print(f'{num}은 3의 배수가 {w}')

In [73]:
#정수 3개를 입력받아서 그 중엣더 가장 큰 수를 출력하기
n1 = int(input('첫번째정수를 입력하세요 : '))
n2 = int(input('두번째정수를 입력하세요 : '))
n3 = int(input('세번째정수를 입력하세요 : '))
a=0
if n1>n2 and n1>n3:
  a=n1
elif n2>n3 and n2>n1:
  a=n2
elif n2<n3 and n3>n1:
  a=n3
print(f'3개중 가장 큰 수는 {a} 입니다.')

첫번째정수를 입력하세요 : 9
두번째정수를 입력하세요 : 3
세번째정수를 입력하세요 : 10
3개중 가장 큰 수는 10 입니다.