<a href="https://colab.research.google.com/github/dlwodbeld/ai/blob/main/Day3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
####################################################
# Review
####################################################

# Collection : 많은 데이터(elements)를 저장하고 관리한다. 

# 리스트list        튜플 tuple        딕셔너리 dict         셋 set

# []                ()                {}                    {}
# mutable           immutable         mutable               mutable
# indexing/slicing  indexing/slicing  Nope                  Nope
#                   (1,)             {key:value}            중복데이터 미허용
#                                    자바의 map, JS json    중복제거

# List
list1 = [1,2,3,4,5]
list2 = [2,3,'하나','둘',True,False]

print(list1[0])  # indexing
print(list2[2:4])# slicing [시작:끝(미만)]

list1[0] = 9
print(list1)

print(list1*3)

list1.append(8) # append()는 마지막에 넣는다
print(list1)

list1.insert(0, 10) # 특정 위치를 지정하여 삽입

1
['하나', '둘']
[9, 2, 3, 4, 5]
[9, 2, 3, 4, 5, 9, 2, 3, 4, 5, 9, 2, 3, 4, 5]
[9, 2, 3, 4, 5, 8]

In [7]:
list3 = list1
print(list1)
print(list3)
print(id(list1))
print(id(list3))
del list3[0]

print(list1)
print(list3)

# list1  -------> [9, 2, 3, 4, 5, 8] <------- list3

print()
print()

list4 = list1.copy()

print(list1)
print(list4)
print(id(list1))
print(id(list4))
del list4[0]

print(list1)
print(list4)

[10, 9, 2, 3, 4, 5, 8]
[10, 9, 2, 3, 4, 5, 8]
140119973456944
140119973456944
[9, 2, 3, 4, 5, 8]
[9, 2, 3, 4, 5, 8]


[9, 2, 3, 4, 5, 8]
[9, 2, 3, 4, 5, 8]
140119973456944
140119972837328
[9, 2, 3, 4, 5, 8]
[2, 3, 4, 5, 8]

In [8]:
t1 = ('대한','민국')
print(type(t1))

t2 = (1,)
print(type(t2))

<class 'tuple'>
<class 'tuple'>

In [9]:
# t1[0] = '만세'
t1[0]
# t1.pop()

'대한'

In [10]:
# Dict 

dict = {
    'key':'value'
}

print(dict)
print(dict['key'])

dict['newkey'] = 'ai'
print(dict)

del dict['key']
print(dict)

{'key': 'value'}
value
{'key': 'value', 'newkey': 'ai'}
{'newkey': 'ai'}

In [3]:
# Set

set = {1,1,2,2,2,3}
print(set)

print(set[0])

{1, 2, 3}

TypeError: ignored

In [4]:
#########################################
# if 조건문
#########################################

# if 조건식(True or False):
#   True일 경우 실행
# else:
#   False일 경우 실행

if False:
  print('True')
else:
  print('False')


if False:
  print('1st')
elif False:
  print('2nd')
elif False:
  print('3rd')
else:
  print('etc')  

score  = 80
if score >= 100:
  print('상')
else:
  if score >= 50:
    print('중')
  else:
    print('하')

if score >= 100:
  print('상')
elif score >= 50:
    print('중')
else:
    print('하')

False
etc
중
중

In [5]:
# 입력) 당신의 점수를 입력하세요 >>> 95
  # 출력) 당신의 점수는 95 점이고 학점은 AO학점입니다.  
  #                     --               --
  # 조건)100 점 초과인 점수는 없다. 0점 미만인 점수도 절대 없음
  # 100~ 90 A 
  #  89~ 80 B
  #  79~ 70 C
  #  69~ 60 D 
  #  나머지 F

  # 0 ~ 3 -
  # 4 ~ 6 O
  # 7 ~ 9 +

score = int(input("당신의 점수를 입력하세요"))
a = ""
r= ""
if 90 <= score <= 100 :
  r = "A" 
elif 80 <= score <90 :
  r = "B"
elif 70 <= score <80 :
  r="C"
elif 60 <= score <70 :
  r="D"
elif 0 < score < 60:
  r="F"

if 0 or 1 or 2 or 3 in str(score)[2]:
  a = "-"
elif 4 or 5 or 6 in str(score)[2]:
  a="0"
else:
  a="+"    
print(f"당신의 점수는 {score}점 이고 학점은 {r}{a}학점입니다 ")

당신의 점수를 입력하세요60
당신의 점수는 60점 이고 학점은 D-학점입니다

In [11]:
score = int(input("점수를 입력하세요 >>>"))

if score >= 90:
  gr = "A"
elif score >= 80:
  gr = "B"
elif score >= 70:
  gr = "C"
elif score >= 60:
  gr = "D"
else:
  gr = "F"


if int(score%10) >= 7:
  de = '+'
elif int(score%10) >= 4:
  de = ''
else:
  de = '-'

print(f'당신의 점수는 {score}이며 학점은 {gr}{de}입니다. ')

점수를 입력하세요 >>>65
당신의 점수는 65이며 학점은 D입니다.

In [13]:
#while 구문
n = 1
while n <= 10:
  print(n)
  n = n + 1 #(Java == n++)

print('------------------')
print(n)

1
2
3
4
5
6
7
8
9
10
------------------
11

In [19]:
n = 10
while n >2:
  print(n)
  n -= 2
print(n)

10
8
6
4
2

In [22]:
while n != 0:
  n = int(input('정수를 입력하세요 : '))
  print(n)

정수를 입력하세요 : 1
1
정수를 입력하세요 : 3
3
정수를 입력하세요 : 0
0

In [24]:
arr = []
no = 1

while no != 0:
  no = int(input('정수입력 >>>'))
  if no != 0:
    arr.append(no)
print(arr)

정수입력 >>>1
정수입력 >>>5
정수입력 >>>0
[1, 5]

In [33]:
n = 1
while n <= 3 :
  m = 1
  while m <= 3:
    print(f'{n}일차 {m}교시입니다.')
    m += 1
  n += 1

1일차 1교시입니다.
1일차 2교시입니다.
1일차 3교시입니다.
2일차 1교시입니다.
2일차 2교시입니다.
2일차 3교시입니다.
3일차 1교시입니다.
3일차 2교시입니다.
3일차 3교시입니다.

In [36]:
n = 2

while n <= 9:
  m = 1
  while m <= 9 :
    t = n*m
    print(f'{n}X{m} = {t}')
    m +=1
  n+=1

2X1 = 2
2X2 = 4
2X3 = 6
2X4 = 8
2X5 = 10
2X6 = 12
2X7 = 14
2X8 = 16
2X9 = 18
3X1 = 3
3X2 = 6
3X3 = 9
3X4 = 12
3X5 = 15
3X6 = 18
3X7 = 21
3X8 = 24
3X9 = 27
4X1 = 4
4X2 = 8
4X3 = 12
4X4 = 16
4X5 = 20
4X6 = 24
4X7 = 28
4X8 = 32
4X9 = 36
5X1 = 5
5X2 = 10
5X3 = 15
5X4 = 20
5X5 = 25
5X6 = 30
5X7 = 35
5X8 = 40
5X9 = 45
6X1 = 6
6X2 = 12
6X3 = 18
6X4 = 24
6X5 = 30
6X6 = 36
6X7 = 42
6X8 = 48
6X9 = 54
7X1 = 7
7X2 = 14
7X3 = 21
7X4 = 28
7X5 = 35
7X6 = 42
7X7 = 49
7X8 = 56
7X9 = 63
8X1 = 8
8X2 = 16
8X3 = 24
8X4 = 32
8X5 = 40
8X6 = 48
8X7 = 56
8X8 = 64
8X9 = 72
9X1 = 9
9X2 = 18
9X3 = 27
9X4 = 36
9X5 = 45
9X6 = 54
9X7 = 63
9X8 = 72
9X9 = 81

In [47]:
n = int(input(' 정수를 입력하세요 . : '))
m =1 
if n > 0:
  while n > 0 :
    print(f'{n}번째 Hello')
    m += 1
    n -= 1
else :
   print('잘못된 입력입니다.')

 정수를 입력하세요 . : 3
3번째 Hello
2번째 Hello
1번째 Hello

In [49]:
n = 7
while n <= 100:
  print(n)
  n += 7

7
14
21
28
35
42
49
56
63
70
77
84
91
98

In [51]:
a=int(input('자판기에 얼마를 넣을까요>>>'))
cof=300
num=1
while cof<=a:
  print(f'커피 {num}잔, 잔돈 {a-cof}원')
  num+=1
  cof+=300

자판기에 얼마를 넣을까요>>>1000
커피 1잔, 잔돈 700원
커피 2잔, 잔돈 400원
커피 3잔, 잔돈 100원

In [7]:
num = set([])
while len(num) <= 4:
  no = int(input('0~9사이 정수를 입력하세요 >>'))
  num.add(no)
  6
  print(num)

0~9사이 정수를 입력하세요 >>4
{4}
0~9사이 정수를 입력하세요 >>2
{2, 4}
0~9사이 정수를 입력하세요 >>1
{1, 2, 4}
0~9사이 정수를 입력하세요 >>2
{1, 2, 4}
0~9사이 정수를 입력하세요 >>4
{1, 2, 4}
0~9사이 정수를 입력하세요 >>4
{1, 2, 4}
0~9사이 정수를 입력하세요 >>4
{1, 2, 4}
0~9사이 정수를 입력하세요 >>4
{1, 2, 4}
0~9사이 정수를 입력하세요 >>4
{1, 2, 4}
0~9사이 정수를 입력하세요 >>2
{1, 2, 4}
0~9사이 정수를 입력하세요 >>3
{1, 2, 3, 4}
0~9사이 정수를 입력하세요 >>5
{1, 2, 3, 4, 5}

In [ ]:
# 1~100사이의 모든 정수를 한줄에 10개씩 출력하세요.
n = 1
while n <= 100:
  if n % 10 != 0:
    print(n, end='\t')
  else:
    print(n)
  n += 1

In [13]:
n = 1
while n <= 100:
  t = 0
  while t < 10:
    print(n, end='\t')
    t += 1
    n += 1
  print("")

1	2	3	4	5	6	7	8	9	10
11	12	13	14	15	16	17	18	19	20
21	22	23	24	25	26	27	28	29	30
31	32	33	34	35	36	37	38	39	40
41	42	43	44	45	46	47	48	49	50
51	52	53	54	55	56	57	58	59	60
61	62	63	64	65	66	67	68	69	70
71	72	73	74	75	76	77	78	79	80
81	82	83	84	85	86	87	88	89	90
91	92	93	94	95	96	97	98	99	100

In [14]:
#########
# for
#########

# 몇 번 반복 시킬지 그 횟수가 명확할 때 주로 사용한다. 

# for 변수 in 반복시킬값들:
#   반복실행문

# 리스트
# for i in [1,2,3]:
#   print(i)

# 문자열
# for i in 'hello':
#   print(i)

# 튜플
# for i in (1,2,3):
#   print(i)  

# range()
for i in range(1,4,2):  #range(시작(생략가능), 끝(미만), 스탭(생략가능))
  print(i)

# set, dict 는 순서와 상관 없이는 사용 가능

1
2
3

In [18]:
pw = input('비밀번호를 입력하세요>>>>')
ch_count = 0
no_count = 0
for ch in pw:
  if ch.isalpha():
    ch_count += 1
  elif ch.isnumeric():
    no_count += 1

if ch_count > 0 and no_count> 0:
  print('사용 가능한 비밀번호입니다.')
else :
  print('사용 불가능한 비밀번호입니다.')

비밀번호를 입력하세요>>>>
사용 불가능한 비밀번호입니다.

In [19]:
dan = int(input('출력할 구구단을 입력하세요 >>>'))

for i in range(1,10,1):
  print(f'{dan} x {i} = {dan*i}')

출력할 구구단을 입력하세요 >>>5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45

In [22]:
# set, dict 도 for문으로 사용은 가능하나 순서는 보장하지 않는다. 

for i in {'가위','바위','보'}:
  print(i)

보
가위
바위

In [23]:
person = {
    'name' : '에밀리',
    'age' : '20'
}

for i in person:
  print(i)

for i in person:
  print(person[i])

name
age
에밀리
20

In [31]:
#사용자로부터 양의 정수를 하나 입력받아서 1부터 입력받은 정수까지의 모든 정수의 합계를 구하는 프로그램을 작성하세요.
#(입력) 임의의 양수를 입력하세요 >>>5
#(출력) 1부터 5사이의 모든 정수의 합계는 15입니다.

num = int(input('임의의 양수를 입력하세요 : '))

sum = 0

for i in range(1,num+1):
  sum = sum + i
print(f'1부터 {num}사이의 모든 정수의 합은 {sum}입니다.')

임의의 양수를 입력하세요 : 6
1부터 6사이의 모든 정수의 합은 21입니다.

In [33]:
n = int(input('몇개의 과일을 보관할까요? : '))
basket = []

for i in range(1,n+1):
  m = str(input(f'{n}번째 과일을 입력하세요. : '))
  basket.append(m)

print(f'입력받은 과일들은 {basket}입니다.')

몇개의 과일을 보관할까요? : 3
3번째 과일을 입력하세요. : 사과
3번째 과일을 입력하세요. : 바나나
3번째 과일을 입력하세요. : 매론
입력받은 과일들은 ['사과', '바나나', '매론']입니다.

In [52]:
#1부터 99사이의 모든 정수를 대상으로 369게임의 결과를 출력하는 프로그램을 작성하세요.

n = int(input())

for i in range(1,n+1):
  s = str(i)
count = 0

for x in s:
  if (x =='3') or (x=='6') or (x=='9'):
    count += 1
  if count == 0:
    print(i,end=' ')
  else :
    print(count*'짝',end='')
  t = 0
  while t < 10:
    print(n, end='\t')
    t += 1
    n += 1
  print("")

60
짝60	61	62	63	64	65	66	67	68	69
짝70	71	72	73	74	75	76	77	78	79

In [51]:
def check369(c):

    num=str(c)

    data=list(num)

    for data in num:

        if "3" in data or "6" in data or "9" in data:

            return True

    return False



for i in range(1,101):

    if check369(i) == True:

        print(str("*").rjust(3),end=" ")

    else :

        print(str(i).rjust(3),end=" ")

    if i%10==0:

        print()

  1   2   *   4   5   *   7   8   *  10
 11  12   *  14  15   *  17  18   *  20
 21  22   *  24  25   *  27  28   *   *
  *   *   *   *   *   *   *   *   *  40
 41  42   *  44  45   *  47  48   *  50
 51  52   *  54  55   *  57  58   *   *
  *   *   *   *   *   *   *   *   *  70
 71  72   *  74  75   *  77  78   *  80
 81  82   *  84  85   *  87  88   *   *
  *   *   *   *   *   *   *   *   * 100