<a href="https://colab.research.google.com/github/dlwodbeld/ai/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
'''
작성자 : 홍길동
작성일 : 2022-01-25
버전 : 0.1
print("hello")
'''
#보통 삼중 따옴표 주석은 여러줄을 주석으로 사용할 때 사용한다.

'\n작성자 : 홍길동\n작성일 : 2022-01-25\n버전 : 0.1\nprint("hello")\n'

In [ ]:
a = 20
b = 1500

student_avg = 20
math_sum = 1500

In [10]:
name = "Alice"
age = 25
address = '''우편번호12345 서울시 영등포구 여의도동 서울빌딩 501호'''
boyfriend=None
height=168.5

print("name=",name,"\n","age=",age,"\n","address=",address,"\n","boyfriend=",boyfriend,"\n","height=",height)

name= Alice
 age= 25
 address= 우편번호12345 서울시 영등포구 여의도동 서울빌딩 501호
 boyfriend= None
 height= 168.5

In [17]:
#1.f-string
n= input('당신의 이름입력하세요.')
m= input('당신의 나이입력하세요.')
print(f'당신의 이름은 {n}, 나이는 {m}입니다')
#2. 기본
print('당신의 이름은 이재문, 나이는 25입니다.')
#3. format()
print('당신의 이름은 {}, 나이는 {}입니다.'.format(n,m))
#4. %연산자
print('당신의 이름은 %s, 나이는 %s입니다.' %(n,m))

당신의 이름입력하세요.이재문
당신의 나이입력하세요.25
당신의 이름은 이재문, 나이는 25입니다
당신의 이름은 이재문, 나이는 25입니다.
당신의 이름은 이재문, 나이는 25입니다.
당신의 이름은 이재문, 나이는 25입니다.

In [41]:
m = int(50000)
n = int(input('몇개월 할부인지 입력해주세요.'))
a = m/n
print(f'{n} 개월동안 매달 내는 금액은 {a} 입니다.')
print('{}개월동안 매달 내는 금액은 {} 입니다.'.format(n,a))
print('%d개월동안 매달 내는 금액은%d입니다.'%(n,a))
print(m,'개월동안 매달 내는 금액은',a,'입니다.')

몇개월 할부인지 입력해주세요.5
5 개월동안 매달 내는 금액은 10000.0 입니다.
5개월동안 매달 내는 금액은 10000.0 입니다.
5개월동안 매달 내는 금액은10000입니다.

In [42]:
n = float(input('실수1:'))
m = float(input('실수2:'))
a = n+m
print(n,'과',m,'의 합계는',a,'입니다.')

실수1:4.2
실수2:2.4
4.2 과 2.4 의 합계는 6.6 입니다.